---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/artists/Mutemath/events.json?api_version=2.0&app_id=making_the_band
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b8a17db374934c0357078fda1ab5ed31"'
    body:
      encoding: UTF-8
      string: |
        [{"id":11611193,"title":"MUTEMATH @ Neon Desert Music Festival in El Paso, TX","datetime":"2016-05-28T19:00:00","formatted_datetime":"Saturday, May 28, 2016 at 7:00PM","formatted_location":"El Paso, TX","ticket_url":"http://www.bandsintown.com/event/11611193/buy_tickets?app_id=making_the_band\u0026artist=MUTEMATH\u0026came_from=67","ticket_type":"Tickets","ticket_status":"available","on_sale_datetime":null,"facebook_rsvp_url":"http://www.bandsintown.com/event/11611193?app_id=making_the_band\u0026artist=MUTEMATH\u0026came_from=67","description":"May 28-29","artists":[{"name":"MUTEMATH","mbid":"6e855495-c063-4052-a26d-959c3f226c87","image_url":"https://s3.amazonaws.com/bit-photos/large/5203946.jpeg","thumb_url":"https://s3.amazonaws.com/bit-photos/thumb/5203946.jpeg","facebook_tour_dates_url":"http://www.bandsintown.com/MUTEMATH/facebookapp?came_from=67","facebook_page_url":"https://www.facebook.com/mutemath","tracker_count":154898,"url":"MUTEMATH","website":"http://mutemath.com"}],"venue":{"name":"Neon Desert Music Festival","city":"El Paso","region":"TX","country":"United States","latitude":31.7586111,"longitude":-106.4863889}},
        {"id":10809298,"title":"MUTEMATH @ U.S. Bank Arena in Cincinnati, OH","datetime":"2016-05-31T19:00:00","formatted_datetime":"Tuesday, May 31, 2016 at 7:00PM","formatted_location":"Cincinnati, OH","ticket_url":"http://www.bandsintown.com/event/10809298/buy_tickets?app_id=making_the_band\u0026artist=MUTEMATH\u0026came_from=67","ticket_type":"Sold Out","ticket_status":"available","on_sale_datetime":"2015-10-30T10:00:00","facebook_rsvp_url":"http://www.bandsintown.com/event/1[...]
