---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?app_id=making_the_band&date=2016-04-09,%202016-04-09&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"77080a861db13ef6d5b1c7e856a5dd57"'
    body:
      encoding: UTF-8
      string: |
        [{"id":11219057,"url":"http://www.bandsintown.com/event/11219057?app_id=making_the_band","datetime":"2016-04-09T09:30:00","ticket_url":"http://www.bandsintown.com/event/11219057/buy_tickets?app_id=making_the_band\u0026came_from=233","artists":[{"name":"Public Tour","url":"http://www.bandsintown.com/PublicTour","mbid":null}],"venue":{"id":1398636,"url":"http://www.bandsintown.com/venue/1398636","name":"Cherokee Ranch","city":"Sedalia","region":"CO","country":"United States","latitude":39.4576235,"longitude":-104.938246},"ticket_status":"available","on_sale_datetime":null},
        {"id":11731202,"url":"http://www.bandsintown.com/event/11731202?app_id=making_the_band","datetime":"2016-04-09T10:00:00","ticket_url":"http://www.bandsintown.com/event/11731202/buy_tickets?app_id=making_the_band\u0026came_from=233","artists":[{"name":"The Rhubarbarians","url":"http://www.bandsintown.com/TheRhubarbarians","mbid":null}],"venue":{"id":2959988,"url":"http://www.bandsintown.com/venue/2959988","name":"Tenn Street Coffee \u0026 Books","city":"Denver","region":"CO","count[...]
