---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?app_id=making_the_band&location=Denver,%20CO&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"912ed0865461e1dae1c5cdae5d019719"'
    body:
      encoding: UTF-8
      string: |
        [{"id":11676132,"url":"http://www.bandsintown.com/event/11676132?app_id=making_the_band","datetime":"2016-04-10T07:30:00","ticket_url":"http://www.bandsintown.com/event/11676132/buy_tickets?app_id=making_the_band\u0026came_from=233","artists":[{"name":"Mawule","url":"http://www.bandsintown.com/Mawule","mbid":null}],"venue":{"id":1047633,"url":"http://www.bandsintown.com/venue/1047633","name":"1stBank Center","city":"Broomfield","region":"CO","country":"United States","latitude":39.904547,"longitude":-105.086449},"ticket_status":"available","on_sale_datetime":null},
        {"id":11102895,"url":"http://www.bandsintown.com/event/11102895?app_id=making_the_band","datetime":"2016-04-10T10:00:00","ticket_url":"http://www.bandsintown.com/event/11102895/buy_tickets?app_id=making_the_band\u0026came_from=233","artists":[{"name":"FundRAGER","url":"http://www.bandsintown.com/FundRAGER","mbid":null},{"name":"Spankalicious","url":"http://www.bandsintown.com/Spankalicious","mbid":null},{"name":"Ill-Esha","url":"http://www.bandsintown.com/Ill-Esha","mbid":null},{"[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Denver,%20CO&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 10 Apr 2016 05:02:08 GMT
recorded_with: VCR 3.0.1
