<div class="container searchbar">
  <h1 class="text-center searchbar_label">Search By Artist</h1>
  <form role="form" action='/artists' method="get">
    <div class="col-sm-3 col-sm-offset-4">
      <div class="form-group" id="artist" >
        <input type="text" name="[artist][artist]" class="form-control" id="artist" value="<%= params[:artist][:artist] %>" placeholder="Enter City, State" required=>
      </div>
    </div>

    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>
