<script>

  function initMap() {
  var myLatLng = {lat: 39.6270, lng: -96.1994};

  var map = new google.maps.Map(document.getElementById('googleMap'), {
  center: myLatLng,
  scrollwheel: false,
  zoom: 4
  });

  }
</script>

<div id="googleMap" style="width:350;height:300px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdW9Nu_UP9yudAFp0Fv5_6Ut25ln2e3AY&callback=initMap&region=US" async defer></script>
