<div class="navbar-header pull-left">
    <a class="logo-link" href="/"><%= image_tag("metal-horn-emoji", id:"nav-logo_img", class:"logo-img") %>
    <span class="little co-name">Making</span><span class="owl co-name">the Band </span></a><br>
</div>
