<div class="navbar-header pull-left">
    <a class="logo-link" href="/"><%= image_tag("http://emojipedia-us.s3.amazonaws.com/cache/f2/50/f250a1ffc4a638d9ac7f611e08e26d04.png", class:"logo-img") %>
    <span class="little co-name">Making the Band</span></a>
</div>
